#i0900inputpast {
    background: lightcoral;
}
#i0900inputpresent {
    background: grey;
}
#i0900inputfuture {
    background: lightblue;
}

#i1000inputpast {
    background: lightcoral;
}
#i1000inputpresent {
    background: grey;
}
#i1000inputfuture {
    background: lightblue;
}

#i1100inputpast {
    background: lightcoral;
}
#i1100inputpresent {
    background: grey;
}
#i1100inputfuture {
    background: lightblue;
}

#i1200inputpast {
    background: lightcoral;
}
#i1200inputpresent {
    background: grey;
}
#i1200inputfuture {
    background: lightblue;
}

#i1300inputpast {
    background: lightcoral;
}
#i1300inputpresent {
    background: grey;
}
#i1300inputfuture {
    background: lightblue;
}

#i1400inputpast {
    background: lightcoral;
}
#i1400inputpresent {
    background: grey;
}
#i1400inputfuture {
    background: lightblue;
}

#i1500inputpast {
    background: lightcoral;
}
#i1500inputpresent {
    background: grey;
}
#i1500inputfuture {
    background: lightblue;
}

#i1600inputpast {
    background: lightcoral;
}
#i1600inputpresent {
    background: grey;
}
#i1600inputfuture {
    background: lightblue;
}

#i1700inputpast {
    background: lightcoral;
}
#i1700inputpresent {
    background: grey;
}
#i1700inputfuture {
    background: lightblue;
}